@media (min-width: 768px) {
	// HEADER HEADER HEADER HEADER HEADER HEADER
	.header {
		&__text {
			&-h1 {
				font-size: 5rem;
			}
			&-paragraph {
				font-size: 1.6rem;
			}
		}
	}
	// NAWIGACJA NAWIGACJA NAWIGACJA NAWIGACJA
	.nav {
		position: sticky;
		top: 0;
		padding-top: 1rem;
		z-index: 100000;
		&__list {
			flex-direction: row;
		}
		&__item {
			&::before {
				bottom: 0;
				left: 0;
				border-left: none;
				border-bottom: 2px solid white;
				width: 100%;
				transform: scaleX(0);
				transition: transform 0.3s;
				transform-origin: right;
			}

			&:hover::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}

	.main {
		&__text {
			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translate(-50%, -10%);
			text-align: center;
			color: white;
			z-index: 10000;
		}
		&__h3 {
			font-size: 1.6rem;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}
		&__text {
			font-size: 1.2rem;
		}
	}
}
