@media (min-width: 768px) {
	// HEADER HEADER HEADER HEADER HEADER HEADER
	.header {
		&__text {
			&-h1 {
				font-size: 5rem;
			}
			&-paragraph {
				font-size: 1.6rem;
			}
		}
	}
	// NAWIGACJA NAWIGACJA NAWIGACJA NAWIGACJA
	.nav {
		padding-top: 1rem;
		&__list {
			flex-direction: row;
		}
		&__item {
			&::before {
				bottom: 0;
				left: 0;
				border-left: none;
				border-bottom: 2px solid white;
				width: 100%;
				transform: scaleX(0);
				transition: transform 0.3s;
				transform-origin: right;
			}

			&:hover::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}
