*::before,
*::after,
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
}
//NAGŁOWEK NAGŁOWEK NAGŁOWek
.header {
	width: 100vw;
	height: 30vh;
	&__img {
		position: relative;
		background-image: url(../img/planet.jpg);
		width: 100%;
		height: 100%;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		position: absolute;
		text-align: center;
		z-index: 1000;
		&-h1 {
			font-size: 3rem;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		&-paragraph {
			color: white;
			font-size: 1.2rem;
		}
		&-span {
			color: rgb(247, 222, 0);
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #080035, $alpha: 0.7);
	}
}
//NAV NAV NAVN NAV NAV NAV NAV NAV NAV NAV NAV NAV

.nav {
	padding: 1rem 0;
	background-color: rgb(56, 56, 56);
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style-type: none;
	}
	&__item {
		position: relative;
		padding: 1rem 2rem;
		margin-bottom: 1rem;
		font-size: 2rem;
		width: 15rem;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		&::before {
			position: absolute;
			content: '';
			left: 0;
			bottom: 0;
			border-left: 2px solid white;
			height: 100%;
			transform: scaleY(0);
			transition: transform 0.3s;
			transform-origin: left;
		}
		&-link {
			color: white;
			text-decoration: none;
			font-weight: bold;
			transition: color 0.3s;
		}
		&:hover &-link {
			color: rgb(247, 222, 0);
		}

		&:hover::before {
			transform: scaleY(1);
			transform-origin: right;
		}
	}
}
//main main main main main main
.main {
	padding: 4rem 0;
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}
	&__header {
		text-align: center;
		margin-bottom: 2rem;
		font-size: 2.5rem;
		text-transform: uppercase;
	}
	&__boxes {
		padding: 1rem 2rem;
	}

	&__box {
		margin-bottom: 2rem;
		position: relative;
		border-top-left-radius: 40px;
		border-bottom-right-radius: 40px;
		overflow: hidden;
	}
	&__img {
		height: 35vh;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	&__img-one {
		background-image: url('../img/coffe.jpg');
	}
	&__img-two {
		background-image: url('../img/phone.jpg');
	}
	&__img-three {
		background-image: url('../img/buisness.jpg');
	}
	&__bg {
		position: absolute;
		top: 60%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($color: #000000, $alpha: 0.7);
		z-index: 100;
	}
	&__text {
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform: translate(-50%, -2%);
		text-align: center;
		color: white;
		z-index: 10000;
	}
	&__h3 {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
	&__text {
		font-size: 1rem;
	}
}
// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER//
.footer {
	padding: 4rem 2rem;
	background-color: rgb(56, 56, 56);
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__first {
		margin-bottom: 1rem;
		font-size: 3rem;
		
		.fa-brands{
			cursor: pointer;
			transition: color 0.3s;
			&:hover{
				color: rgb(247, 222, 0); 
			}
		}
	}

	&__second{
		font-size: 1.2rem;
		color: white;
	}
}
@import './small';
@import './medium';
@import './large';
